@model IEnumerable<AspnetCoreMvcStarter.Models.Request>

@{
  ViewData["Title"] = "Requests";
}

<h2>Request List</h2>

<p>
  <a asp-action="Create" class="btn btn-primary btn-sm">Create New Request</a>
</p>

<table class="table table-borderless">
  <thead>
  <tr>
    <th>Requestor</th>
    <th>Facility</th>
    <th>Item</th>
    <th>Quantity</th>
    <th>Status</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  @foreach (var item in Model)
  {
    <tr class="request-row">
      <td>@item.Requestor?.FullName</td>
      <td>@item.Facility?.FacilityName</td>
      <td>@item.FacilityItem?.ItemName</td>
      <td>@item.QuantityRequested</td>
      <td>@item.Status</td>
      <td>
        <div class="btn-group" role="group">
          <a asp-action="Edit" asp-route-id="@item.RequestId" class="btn btn-warning btn-md">Edit</a>
          <a asp-action="Details" asp-route-id="@item.RequestId" class="btn btn-info btn-md">Details</a>
          <a asp-action="Delete" asp-route-id="@item.RequestId" class="btn btn-danger btn-md">Delete</a>
          <a asp-action="Assign" asp-route-id="@item.RequestId" class="btn btn-primary btn-md">Assign</a>
          <a asp-action="UpdateStatus" asp-route-id="@item.RequestId" class="btn btn-secondary btn-md">Update Status</a>
          <a asp-action="Revoke" asp-route-id="@item.RequestId" class="btn btn-dark btn-md">Revoke</a>
        </div>
      </td>
    </tr>
  }
  </tbody>
</table>
